<div class="d-flex justify-content-center my-4">
  <button
    (click)="onClickUpdateAllStatus(true)"
    class="btn btn-outline-dark mx-2"
  >
    TOUT DISPO
  </button>
  <button
    (click)="onClickUpdateAllStatus(false)"
    class="btn btn-outline-dark mx-2"
  >
    TOUT PAS DISPO
  </button>
</div>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.available ? "Dispo" : "Pas dispo" }}</td>
      <td>
        <button class="btn btn-outline-dark" (click)="onClickUpdateStatus(i)">
          Switch en {{ book.available ? "Dispo" : "Pas dispo" }}
        </button>
        <button
          [routerLink]="['/books', book.id]"
          class="btn btn-outline-primary mx-2"
        >
          DÉTAILS
        </button>
        <button
          [routerLink]="['/books/', 'edit', book.id]"
          class="btn btn-outline-warning mx-2"
        >
          ÉDITER
        </button>
        <button
          (click)="onClickDeleteBook(i)"
          class="btn btn-outline-danger mx-2"
        >
          SUPPRIMER
        </button>
      </td>
    </tr>
  </tbody>
</table>
